* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    gap: 100px;
}

body {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #163020;
    font-family: sans-serif;
}

.navbar {
    list-style: none;
}

a {
    text-decoration: none;
    color: #eee;
}

.navbar a:hover {
    color: hsl(102, 47%, 34%);
}

header {
    position: relative;
    background-color: #163020;

}